<div class="background-image">
  <h1>Creators, meet Influencers</h1>
</div>
<!-- <div class="about">
  <h1>Flewnce connects creators with influencers</h1>
  <p>Have a following on social media? Leverage it by collaboritng with leading companies looking to expand their audiance.</p>
</div>
<div class="catch">
  <h1>Get paid to use instagram</h1>
  <p>You should be making the money, not facebook and instagram.</p>
</div>
<div class="works">
  <h1>How it works</h1>
  <ol>
    <li>Choose Infleuncer or Creator</li>
    <li>Connect your Instagram</li>
    <li>Shop Infleuncers OR Sell ads</li>
  </ol>
</div> -->

<!-- <p>I am a Creator (I want to promote my brand)</p>
<p>I am an Influencer (I want to leverage my following)</p> -->
